body {
  background-color: var(--color-alpha);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-base);
  overflow-x: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  background-color: inherit;
  background-image: url("@/assets/images/hero_pattern.webp");
  background-blend-mode: luminosity;
  mask-image: radial-gradient(
    closest-corner circle at 50% 0%,
    #000 0%,
    transparent 100%
  );
}
