html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-alpha);
  font-family: "Inter", sans-serif;
  font-size: var(--font-size-base);
  overflow-x: hidden;
  transition: background-color 0.3s ease;
  transition-delay: 0.2s;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.1;
  background-color: inherit;
  background-image: url("@/assets/images/hero_pattern.webp");
  background-blend-mode: luminosity;
  mask-image: radial-gradient(
    closest-corner circle at 50% 0%,
    #000 0%,
    transparent 100%
  );
}

.button-link {
  text-decoration: none;
  padding-inline: var(--space-m);
  padding-block: var(--space-s);
  display: inline-grid;
  place-items: center;
  border-radius: 2rem;
  font-weight: 700;
}

.button-link.primary {
  background-color: #e7c771;
  color: #542760;
}

.button-link.primary:hover {
  background-color: #f9da87;
}

.button-link.secondary {
  border: 2px solid #fff;
  color: #fff;
}
